<div class="add-subcategory add-data">
  <h1>Add Subcategory</h1>
  <%= form_for(@subcategory) do |f| %>

      <%=select("post", "category_id", Category.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'Select Category'},class:'form-control')%>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name,:class=> 'form-control',placeholder:'' %>
      </div>

      <%= f.submit :class => "btn btn-primary form-control" %>

  <% end %>
</div>
