<div class="form-wrapper">
    <h3>Video</h3>
    <div>
      <%= f.label :name%>
    </div>
    <div>
      <%= f.text_field :name , class:'form-control'%>
    </div>
    <div>
      <%= f.label :video_link%>
    </div>
    <div>
      <%= f.text_area :video_link , class:'form-control'%>
    </div>
    <div>
      <%= f.hidden_field :_destroy , class:''%>
    </div>
    <div>
      <br/>
      <button class="remove_fields btn btn-danger">remove</button>
    </div>

</div>

