<!DOCTYPE html>
<html>
<head>
  <title>Tutorialscentre</title>
  <%= stylesheet_link_tag 'dashboards', media:'all','data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dashboards', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="tuto-home-header row">
  <div class="col-md-3 company-logo"><%=image_tag 'company.png'%></div><div class=""></div><div class="col-md-3"></div>
  <div class="col-md-6"></div>
</div> <!--end of tuto-home-header-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%=link_to (dashboards_path),:class=>'navbar-brand' do%>
           Dashboard
      <%end%>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li><%=link_to (new_category_path) do%>
              <span class="glyphicon glyphicon-plus-sign"></span> Category
             <%end%>
        </li>
        <li><%=link_to (new_sub_category_path) do%>
              <span class="glyphicon glyphicon-plus-sign"></span> Subcategory
          <%end%>
        </li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
  <div class="col-md-3">
    <ul class="list-group">
      <% @categories.each do |category|%>
          <li class="list-group-item">
            <%=link_to category.name, category_path(category)%>
            <%= link_to 'edit', edit_category_path(category), class: 'btn btn-default btn-xs'%>
            <%= link_to 'delete', category_path(category), class: 'btn btn-default btn-xs', method: :delete%>
          </li>
      <%end %>

    </ul>
  </div>
  <div class="col-md-9">
    <%= yield %>
  </div>
</div>


</body>

</html>


